.container {
  margin: 0 auto;
  max-width: 100%;
}

.center {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: column;
}

.column-full {
  flex-basis: 100%;
}

.card-text {
  padding-left: 1.5rem;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  .media-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
  }

  .column-full {
    flex-basis: 50%;
  }

  .column-full-media {
    padding: 0 0.75rem;
    display: flex;
    align-items: center;
  }

  img {
    border-radius: 2rem;
  }

  .card-text {
    padding: 0;
    text-align: center;
  }
}
