ul {
  padding: 0;
}

h1 {
  margin-top: 1.5rem;
  margin-bottom: 0;
}

.container {
  margin: 0 auto;
  max-width: 100%;
}

.center {
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: column;
}

.card-text {
  padding-left: 1.5rem;
}

.message-icon-box {
  position: relative;
  right: 0;
}

.header-box {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}

.hidden {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.modal-box {
  text-align: center;
  width: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.card-wrapper {
  display: flex;
  margin-top: 1rem;
}

.card-image {
  width: 122px;
  height: 160px;
  margin: 0.5rem;
  border-radius: 2rem;
}

.card-wrapper-padding {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.card-text-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 166px;
  text-align: center;
  position: relative;
}

.likes-box {
  display: flex;
  align-items: baseline;
  position: absolute;
  right: 0;
  top: 0;
}

.card {
  position: relative;
}

.container.container-style.hidden {
  display: none;
}

.modal-box.hidden {
  display: none;
}

.button-container.hidden {
  display: none;
}

.container.container-wrap.hidden {
  display: none;
}

.row.header-border.hidden {
  display: none;
}

.row-header-border.modal.hidden {
  display: none;
}

.lds-heart.hidden {
  display: none;
}

.likes-box p {
  margin-right: 0.25em;
  cursor: default;
}

.hide-icon {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

ul.container.container-wrap {
  margin-bottom: 1rem;
}

.container-style {
  width: 90%;
  border-radius: 2rem;
  margin-top: 1rem;
  height: 78vh;
}

.card img {
  width: 100%;
  height: 67vh;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-width: 0;
}

.button-1-of-3 {
  border-radius: 1.5rem;
  padding: 0.5rem;
  border: none;
  width: 56px;
  margin-top: 1rem;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  margin-bottom: 1rem;
}

.modal-buttons {
  border-radius: 0.5rem;
  padding: 1rem;
  width: 266px;
  height: 53px;
  margin-top: 24px;
}

.column-one-fourth {
  flex-basis: 25%;
}

.row-display-reset {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.column-one-half {
  flex-basis: 50%;
}

.lds-spinner {
  color: official;
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div::after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
}

.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  .column-one-half {
    flex-basis: 17%;
  }

  .media-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
  }

  .column-full {
    flex-basis: 50%;
  }

  .column-one-fourth {
    flex-basis: 20%;
  }

  .column-full-media {
    padding: 0 0.75rem;
  }

  img {
    border-radius: 2rem;
  }

  .card-text {
    padding: 0;
    text-align: center;
  }

  .container-wrap {
    display: flex;
    flex-wrap: wrap;
    width: 693px;
  }

  .card-wrapper-padding {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  .card-text-wrapper {
    margin-right: 1rem;
  }
}

@media screen and (min-width: 500px) and (max-width: 768px) {
  .card-text-wrapper {
    margin-right: 1rem;
    width: 100%;
  }

  .card-image {
    object-fit: fill;
    height: 25.5vh;
    width: 40%;
  }
}
