h1 {
  font-family: "Gotham Rounded", sans-serif;
  color: #ea5a5a;
}

p {
  font-family: "Gotham Rounded", sans-serif;
  font-size: 18px;
}

i {
  font-size: 39px;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
}

.header-border {
  border-bottom: solid 2px #e5e5e5;
}

.container-style {
  border: 1px solid lightgray;
  box-shadow: 0 8px 14px -4px rgb(0 0 0 / 40%);
}

.button-1-of-3 {
  background-color: white;
  box-shadow: 0 8px 14px -4px rgb(0 0 0 / 40%);
}

.like {
  color: #39ae36;
}

.superlike {
  color: #5fe0fc;
}

.dislike {
  color: #ea5a5a;
}

.modal-buttons {
  font-family: "Gotham Rounded", sans-serif;
  font-size: 16px;
  background-color: transparent;
  color: inherit;
  border-color: white;
}

.modal-box h1 {
  font-family: "Just Overthink", sans-serif;
  font-size: 82px;
  color: white;
  font-weight: lighter;
}

.modal-box p {
  font-size: 16px;
}

.header-icons {
  color: #e2dddd;
}

.mini-message-icon {
  position: absolute;
  bottom: 2px;
  right: 0;
  color: #ea5a5a;
  font-size: 20px;
  transform: rotateY(180deg);
  filter: drop-shadow(0 1mm 0.7mm rgb(109, 108, 108));
}

.card-wrapper {
  border: solid 1px #e2dddd;
  border-radius: 2rem;
  box-shadow: 0 8px 14px -4px rgb(0 0 0 / 40%);
}

.likes-box i {
  font-size: 17px;
  color: #39ae36;
  cursor: default;
}

.overlay {
  background-color: rgb(41 41 41 / 98%);
}

.modal-box {
  color: white;
}

.lds-spinner.hidden {
  display: none;
}

.lds-spinner div::after {
  background: #ea5a5a;
}
