h1 {
  font-family: "Gotham Rounded", sans-serif;
  color: #ea5a5a;
}

p {
  font-family: "Gotham Rounded", sans-serif;
  font-size: 18px;
}

i {
  font-size: 39px;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.header-border {
  border-bottom: solid 2px #e5e5e5;
}

.container-style {
  border: 1px solid lightgray;
  box-shadow: 0 8px 14px -4px rgb(0 0 0 / 40%);
}

.button-1-of-3 {
  background-color: white;
  box-shadow: 0 8px 14px -4px rgb(0 0 0 / 40%);
}

.like {
  color: #39ae36;
}

.superlike {
  color: #5fe0fc;
}

.dislike {
  color: #ea5a5a;
}

.modal-buttons {
  font-family: "Gotham Rounded", sans-serif;
  font-size: 16px;
  background-color: transparent;
  color: inherit;
  border-color: white;
}

.modal-box img {
  width: 30%;
  border-radius: 3rem;
}

.modal-box h1 {
  font-family: "Just Overthink", sans-serif;
  font-size: 82px;
  color: white;
  font-weight: lighter;
}

.modal-box p {
  font-size: 16px;
}

.header-icons {
  color: #e2dddd;
}

.mini-message-icon {
  position: absolute;
  bottom: 2px;
  right: 0;
  color: #ea5a5a;
  font-size: 20px;
  transform: rotateY(180deg);
  filter: drop-shadow(0 1mm 0.7mm rgb(109, 108, 108));
}

.card-wrapper {
  border: solid 1px #e2dddd;
  border-radius: 2rem;
  box-shadow: 0 8px 14px -4px rgb(0 0 0 / 40%);
}

.likes-box i {
  font-size: 17px;
  color: #39ae36;
  cursor: default;
}

.overlay {
  background-color: rgb(41 41 41 / 98%);
}

.modal-box {
  color: white;
}

.lds-heart {
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
  top: 40%;
  left: 40%;
}

.lds-heart div {
  top: 32px;
  left: 32px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: #ea5a5a;
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

.lds-heart div::after,
.lds-heart div::before {
  content: " ";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: #ea5a5a;
}

.lds-heart div::before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}

.lds-heart div::after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}

@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }

  5% {
    transform: scale(1.1);
  }

  39% {
    transform: scale(0.85);
  }

  45% {
    transform: scale(1);
  }

  60% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(0.9);
  }
}
